.counter{
  text-align: center;
  padding: 25px;
}
.header{
  margin-top: 25px;
  font-size: 50px;
  color: green;
}
.count{
  font-size: 30px;
  color: red;
}
.but{
  width: 100px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
  background-color: blue;
  color: white;
  font-size: 1.1rem;
  border-radius: 10px;
}
.but:hover{
  background-color: white;
  color: blue;
  border: 2px solid blue;
  transition: 0.4s;
}